:root {
	--background-color: rgb(13, 7, 20);
	--main-color: rgb(158, 120, 207);
	--main-color-hover: rgb(142, 109, 186);
	--grey-text: rgb(119, 119, 119);
	--todo-block-color: rgb(21, 16, 28);
	--border-input-color: rgb(62, 22, 113);
	--white-color: #fff;
}
html {
	background-color: var(--background-color);
}

body {
	margin: 0;
	padding: 0;
	background: var(--background-color);
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: var(--main-color) var(--background-color);
}
.container {
	background: var(--background-color);
	height: 100dvh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
